name: Dart

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  PUB_ENVIRONMENT: bot.github

jobs:
  analyze-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sdk:
          - stable
          - beta
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          submodules: true
      - uses: dart-lang/setup-dart@e630b99d28a3b71860378cafdc2a067c71107f94
        with:
          sdk: ${{ matrix.sdk }}
      - name: Install dependencies
        run: dart pub get
      - name: Check formatting
        run: dart format --output=none --set-exit-if-changed .
      - name: Analyze code
        run: dart analyze --fatal-infos .
      - name: Run tests on VM
        run: dart test --reporter=github --test-randomize-ordering-seed=random
